@model asp_clinica.Models.ModelEspecialidade
@{
    ViewBag.Title = "Cadastro de Especialidade";
}

<h2>Cadastro de Especialidade</h2>

@using (Html.BeginForm("CadEsp", "Especialidade", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(m => m.Esp)
    <br />
    @Html.EditorFor(m => m.Esp)
    <br />
    <br />
    <input type="submit" value="Cadastrar" />
}

